.messages {
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
width: 90%;

        .title {
display: flex;
justify-content: space-between;
margin-top: 10px;

        }

        table {
            margin-top: 20px;
width: 100%;

.active {
    background-color: #1dbf730f;
}

tr {
    height: 80px;
}

th {
    text-align: left;
}

td {

    &:first-child {
        font-weight: 500;
    }

    &:nth-child(2), &:nth-child(3) {
color: gray;
    }

     button {
background-color: #1dbf73;
border: none;
outline: none;
color: white;
padding: 7px 10px;
cursor: pointer;
            }
}


        }
    }
}